.in-page-link--dairy {
    top: 37%;
    left: 13%;
}

.in-page-link--feed {
    top: 40%;
    right: 41%;
    transform: scale(0.6);
}

.in-page-link--grain {
    top: 35%;
    right: 13%;
}

.in-page-link--lab {
    top: 40%;
    right: 47%;
    transform: scale(0.5);
}

.in-page-link--meat {
    top: 40%;
    left: 41%;
    transform: scale(0.6);
}

.in-page-link--rmt {
    top: 40%;
    right: 33%;
    transform: scale(0.9);
}

.in-page-link--wine {
    top: 40%;
    left: 33%;
    transform: scale(0.9);
}

.in-page-link--auditorium {
    bottom: 20%;
    left: 15%;
}

.in-page-link--map {
    bottom: 20%;
    right: 15%;
}