.start-page {
    background-color: rgb(0, 40, 90);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/intro-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.foss-logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.start-page__intro-block {
    text-align: center;
    opacity: 0;
    h1 {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    h1 {
        color: #054086;
        margin-bottom: 4rem;
    }
    span {
        display: block;
    }
    h1 span:first-child {
        text-transform: uppercase;
        font-weight: normal;
        margin-bottom: 1.75rem;
        font-size: 2rem;
    }
    h1 span:nth-child(2) {
        font-size: 5rem;
    }
    h1 span:last-child {
        font-size: 2rem;
    }
    h1 em {
        color: #f48d27
    }
}

.start-page__begin {
    text-decoration: none !important;
    outline: none !important;
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
    box-shadow: 0 0 0 0 rgba(245, 140, 40, 1);
    animation: pulseOrange 2s infinite;
    animation-delay: 0.3s;
    border-radius: 50%;
    user-select: none;
}

.start-page__begin__wrapper {
    width: 120px;
    height: 120px;
    display: flex;
    background-color: #f48d27;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    padding: 1rem;
    box-shadow: 0 0 0 0 rgba(245, 140, 40, 1);
    animation: pulseOrange 2s infinite;
    transition: all 0.6s ease;
}

.start-page__begin:hover .start-page__begin__wrapper {
    background-color: #fff;
}

.start-page__begin:hover .start-page__begin__text {
    color: #000;
}

.start-page__begin__text {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}

.fade-in {
    animation: fadeIn;
    -webkit-animation: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.fade-in--delayed {
    animation: fadeIn;
    -webkit-animation: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Page transition
// transitions
.fade-enter .start-page,
.fade-leave-to .start-page {
    opacity: 0;
    transform: rotate(35deg);
}

.fade-enter-active .start-page,
.fade-leave-active .start-page {
    transition: all 10s ease;
}