.main-nav {
    width: 90%;
    background-color: rgba(0, 40, 90, 0.95);
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
    padding: 0rem 2rem;
    // backface-visibility: hidden;
    display: none;
}

.main-nav__step-wrapper {
    padding: 1rem;
    position: relative;
    // border: 1px solid red;
    text-decoration: none;
    outline: none !important;
    user-select: none;
    flex: 1 1 0px;
    max-width: 135px;
    &::after {
        color: #fff;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 12.1px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(75%, -50%);
    }
    &:nth-last-child(-n+2) {
        &::after {
            content: none;
        }
    }
    &:hover {
        cursor: pointer;
        .main-nav__step-text {
            color: rgb(245, 140, 40);
        }
    }
}

.main-nav__step-text {
    color: #fff;
    text-align: center;
    margin-top: 0.75rem;
    border-bottom: 2px solid transparent;
}

.is-active .main-nav__step-text {
    color: rgb(245, 140, 40);
}

.main-nav__step-image {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

// Steps
.main-nav__step--1 .main-nav__step-image {
    display: none;
}

.main-nav__step--1 .main-nav__step-text {
    font-weight: bold;
}

.main-nav__step--1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

// .main-nav__step--2 .main-nav__step-image {
//     background-image: url('../../assets/icons/step-1.svg')
// }
// .main-nav__step--3 .main-nav__step-image {
//     background-image: url('../../assets/icons/step-2.svg')
// }
// .main-nav__step--4 .main-nav__step-image {
//     background-image: url('../../assets/icons/step-3.svg')
// }
// .main-nav__step--5 .main-nav__step-image {
//     background-image: url('../../assets/icons/step-4.svg')
// }
// .main-nav__step--6 .main-nav__step-image {
//     background-image: url('../../assets/icons/step-5.svg')
// }
// .main-nav__step--7 .main-nav__step-image {
//     background-image: url('../../assets/icons/step-6.svg')
// }
.main-nav__step--fs .main-nav__step-image {
    background-image: url('../../assets/icons/full-screen.svg')
}